/*generales
section{
    margin-top: 2em;
}*/

/*sacar*/
#container{
    flex-wrap: wrap;
}

/*colores*/
.azulFondo{
    background-color: #1f2937;
}
.grisClaro{
    color: #D1D5DB;
}

.bgGrisOscuro{
    background-color: #48494d;
}
.fondoRojo{
    background-color: #991B1B;
}

.fondoVioleta{
    background-color: #9409ff;
}

.fondoCeleste{
    background-color: #09adff;
}

/*botones*/
.ajuste-boton{
    padding: 8px 15px;
    border-radius: 6px;
}

.botonCeleste{
    background-color: #008FD6;
}

/*banner section*/
.ajusteBanner{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.527);
    background-blend-mode: darken;
}

.banner{
    background-image: url("../imgs/banner-home.png");
}

.banner-cine{
    background-image: url("../imgs/banner-cine.jpg");
}
.banner-teatro{
    background-image: url("../imgs/banner-teatro.jpg");
}
.banner-concierto{
    background-image: url("../imgs/banner-recital.jpg");
}

/*textos*/
h1,h2,h3,h4,p,a,button,label,input{
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    font-weight: 300;
}
h1{
    font-size: clamp(1em, 2.5em, 3em);
}
p{
    font-size: clamp(15px, 16px, 24px);
    font-weight: 400;
}

/*categorias*/
.ajusteCategoria{
    border-radius: 8px;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
}

#filter-movies{
    background-image: url("../imgs/cine-categoria.png");
}

#filter-theatre{
    background-image: url("../imgs/category-theatre.png");
}

#filter-concert{
    background-image: url("../imgs/concert-category.png");
}

header{
    z-index: 1;
    top: 0;
}

.lateral{
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 1em;
}

#card{
    overflow: hidden;
}

.modalInfo{
    border-radius: 1em;
    border:none;
    padding: 2em;
}

/*form*/

input{
    height: 45px;
    border: none;
    border-radius: 16px;
    background-color: #9cc7fb6f;
    color: #ffffff;
    padding: 12px;
}

label{
    font-size: 15px;
    margin-top: 20px;
}

footer {
    background-color: #0d1523; /* Azul oscuro */
    color: white;
    text-align: center;
    padding: 3rem 1rem;
  }
  
  footer h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  
  footer p {
    margin: 0.5rem 0 1rem;
    color: #cbd5e1;
  }
  
  .footer-links {
    margin-bottom: 1rem;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #38bdf8;
  }
  
  footer .copyright {
    font-size: 0.9rem;
    color: #94a3b8;
  }

  #caja-reservas{
    padding: 2em;
    position: fixed;
    right: 0;
    z-index: 2;
  }