/*sacar*/
#container{
    flex-wrap: wrap;
}

/*colores*/
.azulFondo{
    background-color: #1f2937;
}
.grisClaro{
    color: #D1D5DB;
}

.bgGrisOscuro{
    background-color: #48494d;
}
.fondoRojo{
    background-color: #991B1B;
}

.fondoVioleta{
    background-color: #9409ff;
}

.fondoCeleste{
    background-color: #09adff;
}

/*botones*/
.ajuste-boton{
    padding: 8px 15px;
    border-radius: 6px;
}

.botonCeleste{
    background-color: #008FD6;
}

/*banner section*/
.ajusteBanner{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.527);
    background-blend-mode: darken;
}

.banner{
    background-image: url("../imgs/banner-home.png");
}

.banner-cine{
    background-image: url("../imgs/banner-cine.jpg");
}
.banner-teatro{
    background-image: url("../imgs/banner-teatro.jpg");
}
.banner-concierto{
    background-image: url("../imgs/banner-recital.jpg");
}

/*textos*/
h1,h2,h3,h4,p,a,button,label,input, span{
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    font-weight: 400;
}
h1{
    font-size: clamp(1em, 2.5em, 3em);
}
p{
    font-size: clamp(15px, 16px, 24px);
    font-weight: 400;
}
span, li{
    font-size: 14px;
    font-weight: 300;
}
li{
    list-style: none;
}
.closei{
    font-size: 24px;
}
.titulo{
    font-size: clamp(16px, 24px, 32px);
    font-weight: 500;
}

/*categorias*/
.ajusteCategoria{
    border-radius: 8px;
    background-size: cover;
    background-blend-mode: darken;
    background-position: center;
}

#filter-movies{
    background-image: url("../imgs/cine-categoria.png");
}

#filter-theatre{
    background-image: url("../imgs/category-theatre.png");
}

#filter-concert{
    background-image: url("../imgs/concert-category.png");
}

header{
    z-index: 1;
    top: 0;
}
#logo{
    width: 40px;
}

.lateral{
    margin-left: 2em;
    margin-right: 2em;
    border-radius: 1em;
}

#card{
    overflow: hidden;
}

#modalInfo{
    padding: 2em;
    top: 20%;
    left: 30%;
}

/*form*/

input{
    height: 45px;
    border: none;
    border-radius: 16px;
    background-color: #9cc7fb6f;
    color: #ffffff;
    padding: 12px;
}

label{
    font-size: 15px;
}

footer {
    background-color: #0d1523; /* Azul oscuro */
    color: white;
    text-align: center;
    padding: 3rem 1rem;
  }
  
  footer h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
  }
  
  footer p {
    margin: 0.5rem 0 1rem;
    color: #cbd5e1;
  }
  
  .footer-links {
    margin-bottom: 1rem;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #38bdf8;
  }
  
  footer .copyright {
    font-size: 0.9rem;
    color: #94a3b8;
  }

  #caja-reservas{
    height: 100vh;
    padding: 2em;
    position: fixed;
    right: 0;
    top:0;
    z-index: 2;
    overflow-y: auto;
  }

  #contenedorComida{
    top: 20%;
  }

  #card-evento{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;

    background-color: #0d1523;
    background-blend-mode: darken;

    transition: transform 0.3s ease-in-out;
  }

  #card-evento:hover{
    transform: scale(1.05);

  }

  #card-evento .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgb(13, 21, 35), rgba(13, 21, 35, 0)); 
  }

  #div-final{
    background-color: #0d1523d7;
  }

  .totalPrecio{
    text-align: right;
  }

  .cajita{
    border: 1px solid rgb(164, 164, 164);
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1.4em;
  }

 #cerrar-comida{
    all: unset;
    position: absolute;
    right: 1rem;
    cursor: pointer;
 }

 #dialog-comida{
    position: fixed;
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1000;
 }

 #codigoDescuento {
    color: black; 
 }

 .icono{
    font-size: 3em; 
    color: white;
  }

  #eventos-agregados{
    gap: 2em;
  }

 /*MOBILE*/
@media screen and (max-width: 767px) {
    .w100m{
        width: 100%;
    }

    .w90m{
        width: 90%;
    }

    
    .w40m{
        width: 40%;
    }


    .dfm{
        display: flex;
    }

    .centerXm{
        justify-content: center;
    }

    .centerYm{
        align-items: center;
    }

    #modalInfo{
        top: 20%;
        left: 5%;
    }

    #dialog-comida{
        top: 50%;
        left: 70%;
    }

    .imgMenum{
        object-fit: contain
    }

    .columnam{
        flex-direction: column;
    }

    .mt1m{
        margin-top: 1em;
    }

}
  
  /*TABLETS*/
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .w45t{
        width: 45%;
    }

    .w60t{
        width: 60%;
    }

    .w100t{
        width: 100%;
    }

    .w90t{
        width: 90%;
    }

    .imgMenut{
        object-fit: contain
    }
  }